h1{
    padding-left: 20px;
    font-family: fantasy;
    
}

.row{
    list-style-type: none;
}

.welcomeImg{
    display: block;
    margin-left: auto;
    margin-right: auto
}

.list-group{
    list-style-type: none;
    padding-right: 40px;
    padding-left: 40px;
}

.list-group li p{
    font-family: fantasy;
    font-size: 20px;
  
    
}

.list-group li{
    padding-left: 20px;
  background-color: rgb(1, 1, 41);
}

.list-group li span{
    color: red;
}